* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 80px;
  margin-top: 30px;
}
ul {
  list-style: none;
  display: flex;
  margin-left: 30px;
}
ul li {
  color: var(--Black, #2d2d2d);

  /* font-family: Epilogue;
font-size: 100px;
font-style: normal; */
  font-weight: 600;
  line-height: normal;
}
ul :nth-child(1) {
  margin-right: 400px;
}
ul :nth-child(2) {
  margin-right: 30px;
}
ul :nth-child(3) {
  margin-right: 30px;
}
ul :nth-child(4) {
  margin-right: 30px;
}
main {
  width: 100%;
  height: 720px;
  display: flex;
}

.maindiv1 {
  height: 500px;
  width: 500px;
  margin-left: 200px;
  margin-top: 30px;
}
.mainh5 {
  width: 244px;
  height: 34px;
  color: var(--Black, #2d2d2d);

  font-weight: 600;
}
.maindivh2 {
  width: 462px;
  height: 204px;
  color: var(--Black, #2d2d2d);
  line-height: normal;
  font-size: 60px;
}
.mainp {
  width: 418px;
  height: 54px;
  color: var(--Black, #2d2d2d);

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.maindiv2 {
}
.imageboyuk {
  width: 420px;
  height: 560px;
  position: relative;
}
.imagekicik1 {
  width: 125.4px;
  height: 129.768px;
  flex-shrink: 0;
  fill: var(--Red, #ff6250);
  position: absolute;
  top: -5px;
  right: 5px;
}
.imagekicik2 {
  width: 125.4px;
  height: 129.768px;
  flex-shrink: 0;
  fill: var(--Green, #009379);
  position: absolute;
  bottom: -5px;
  left: -35px;
}
.container {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}
.container2 {
  height: 600px;
  width: 100%;
  margin: 160px;
  display: flex;
}
.content21 {
  width: 330px;
  height: 450px;
  display: flex;

  padding: 60px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--White, #fff);
}
.content22 {
  width: 330px;
  height: 450px;
  padding: 60px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--White, #fff);
}
.content23 {
  width: 330px;
  height: 450px;
  padding: 60px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--White, #fff);
}
.c21image {
  width: 125px;
  height: 125px;
  margin-bottom: 63px;
}
.c21h4 {
  width: 250px;
  height: 42px;
  align-self: stretch;
  color: var(--Black, #2d2d2d);
  text-align: center;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 19px;
}
.c21p {
  width: 250px;
  height: 81px;

  color: var(--Black, #2d2d2d);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.container3 {
  width: 100%;
  height: 1100px;
  display: flex;

  flex-wrap: wrap;
}
.contents3 {
  width: 100%;
  height: 900px;
  display: flex;

  /* justify-content: space-between; */
  margin-left: 100px;
  margin-right: 100px;

  flex-wrap: wrap;
}
.content3h3 {
  width: 291px;
  height: 42px;
  margin: auto;
  color: var(--Black, #2d2d2d);
  text-align: center;

  /* H2 */
  font-family: Epilogue;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
}
.content31 {
  width: 300px;
  height: 422px;
  gap: 70px;
  margin-left: 40px;
  margin-right: 70px;
}
.content32 {
  width: 330px;
  height: 422px;
  gap: 70px;
  margin-left: 40px;
  margin-right: 70px;
}
.content33 {
  width: 330px;
  height: 422px;
  gap: 70px;
  margin-left: 40px;
  margin-right: 70px;
}
.content34 {
  width: 330px;
  height: 422px;
  gap: 70px;
  margin-left: 60px;
  margin-right: 70px;
}
.content35 {
  width: 330px;
  height: 422px;
  gap: 70px;
  margin-left: 40px;
  margin-right: 70px;
}
.content36 {
  width: 330px;
  height: 422px;
  gap: 70px;
  margin-left: 40px;
}
.c31h5 {
  width: 330px;
  height: 27px;
  color: var(--Black, #2d2d2d);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.c31p {
  width: 330px;
  height: 27px;
  color: var(--Black, #2d2d2d);

  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 158.824% */
}
.container4 {
  width: 100%;
  height: 750px;
  margin-left: 100px;
  margin-right: 100px;
}
.clients {
  width: 113px;
  height: 30px;
  margin-top: 125px;
  margin-left: 56px;
  margin: auto;
  color: var(--Black, #2d2d2d);
  font-family: Epilogue;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}
.contents4 {
    width: 100%;
    height: 600px;
    /* margin-left: 100px; */
    margin-right: 100px;
    display: flex;
    justify-content:space-around;

}
.content41 {
    width: 320px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
}
.content42 {
    width: 320px;
    height: 400px;
    margin-right: 50px;
    
}
.content43 {
    width: 320px;
    height: 400px;
}
.content41text{
    width: 230px;
    height: 120px;
    margin: auto;
    margin-top: 20px;
}
.content41ellipsestarp{
    width: 200px;
    height: 120px;
    margin: auto;
    margin-top: 20px;
    display: flex;

}
.content41ellipse{
    width: 50px;
    height: 50px;
    border-radius: 50px;


}
.content41starp{
    width: 125px;
    height: 54px;

}
.star{
    width: 20px;
    height: 20px;
    display: flex;
    margin-bottom: 10px;
}
.footer{
  width: 100%;
  height: 720px;
  display: flex;
  margin-bottom: 50px;

}
.fbox1{
  width: 360px;
  height: 360px;
  margin: auto;
  margin-bottom: 0px;

}
.fbox1h5{
  width: 331px;
  height: 42px;
  color: var(--Black, #2D2D2D);

/* H2 */
font-family: Epilogue;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 42px; /* 131.25% */
margin-bottom: 36px;
  

}
.fbox1p{
  width: 359px;
  height: 135px;
  color: #2D2D2D;

/* Body text */
font-family: Epilogue;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 158.824% */
}
.fbox1icons{
  
  display: flex;
  width: 36px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
text-decoration-line: underline;
color: rgba(255, 98, 80, 0.00);
text-align: center;
font-family: Mulish;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 142.5%; /* 42.75px */

}
.icon{
  display: flex;
  width: 36px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(255, 98, 80, 0.00);
text-align: center;
font-family: Mulish;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 142.5%; /* 42.75px */
text-decoration-line: underline;
}
.fbox2{
 
  width: 360px;
  height: 360px;
  margin: auto;
  margin-bottom: 0px;

}
.form{
  margin-bottom: 0px;

}
.form1{
width: 530px;
height: 70px;
background: #F3F3F3;
margin-bottom: 40px;
padding-left: 30px;
}
.form2{
  width: 530px;
  height: 215px;
  padding-left: 30px;
  padding-top: 10px;
  background: #F3F3F3;
  margin-bottom: 40px;
}
.button{
 width: 235px;
 height: 80px;
 background: var(--Black, #2D2D2D);
}
.textbutton{
 width: 71px;
 height: 30px;
 color: var(--White, #FFF);
text-align: center;

font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 150% */
text-decoration-line: underline;
margin: auto;
margin-top: 80px;
}
@media (max-width:576px;) {
  .header{
    width: 100%;

  }
  
}